.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 771px;
}

.u-section-1 .u-shape-1 {
  width: 354px;
  height: 228px;
  background-image: none;
  margin: -43px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -134px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 595px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.4;
  font-size: 2.25rem;
  margin: 87px 0 0 747px;
}

.u-section-1 .u-image-1 {
  width: 725px;
  height: 358px;
  margin: -337px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 395px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 88px;
    margin-left: 545px;
  }

  .u-section-1 .u-image-1 {
    width: 528px;
    margin-top: -361px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 175px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    margin-top: 17px;
    margin-right: 82px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 51px;
  }

  .u-section-1 .u-image-1 {
    height: 230px;
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 999px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 24px 0 0;
}

.u-section-2 .u-image-1 {
  width: 459px;
  height: 704px;
  margin: 16px 50px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 36px;
  height: 36px;
  margin: -451px 307px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 36px;
  height: 36px;
  margin: 23px 353px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 36px;
  height: 36px;
  margin: 97px 393px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 36px;
  height: 36px;
  margin: -369px 343px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 117px;
  height: 117px;
  margin: -117px auto 0 24px;
}

.u-section-2 .u-image-7 {
  width: 117px;
  height: 117px;
  margin: 10px auto 0 24px;
}

.u-section-2 .u-image-8 {
  width: 117px;
  height: 117px;
  margin: 19px auto 0 24px;
}

.u-section-2 .u-image-9 {
  width: 117px;
  height: 117px;
  margin: 10px auto 0 24px;
}

.u-section-2 .u-image-10 {
  width: 117px;
  height: 117px;
  margin: 28px auto 0 28px;
}

.u-section-2 .u-text-3 {
  margin: -612px auto 0 169px;
}

.u-section-2 .u-text-4 {
  margin: 75px auto 0 169px;
}

.u-section-2 .u-text-5 {
  margin: 90px auto 0 169px;
}

.u-section-2 .u-text-6 {
  margin: 79px auto 0 169px;
}

.u-section-2 .u-text-7 {
  margin: 76px auto 0 169px;
}

.u-section-2 .u-image-11 {
  width: 36px;
  height: 36px;
  margin: 45px 261px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -447px;
    margin-right: 314px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 19px;
    margin-right: 350px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 95px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 338px;
  }

  .u-section-2 .u-image-11 {
    margin-top: 32px;
    margin-right: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 136px;
    margin-right: auto;
    margin-left: 106px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -394px;
    margin-right: auto;
    margin-left: 226px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 339px;
    margin-right: auto;
    margin-left: 309px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -286px;
    margin-right: auto;
    margin-left: 183px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -211px;
    margin-right: auto;
    margin-left: 273px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 130px;
    margin-left: -409px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 43px;
    margin-left: -551px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 57px;
    margin-left: -487px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 20px;
    margin-left: -487px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 20px;
    margin-left: -487px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -446px;
    margin-left: -424px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 152px;
    margin-left: -529px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -104px;
    margin-left: -663px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -143px;
    margin-left: -497px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 249px;
    margin-left: -571px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -1008px;
    margin-right: auto;
    margin-left: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 24px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 64px;
    margin-left: 29px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -18px;
    margin-left: 234px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -614px;
    margin-left: 171px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 119px;
    margin-left: 198px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 136px;
    margin-left: 107px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 220px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -1079px;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 521px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -447px;
    margin-left: 101px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 211px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -129px;
    margin-left: 82px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 239px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 300px;
  }

  .u-section-2 .u-image-11 {
    margin-top: -1277px;
    margin-left: 112px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-3 .u-text-1 {
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 595px 0 0;
}

.u-section-3 .u-image-1 {
  width: 343px;
  height: 223px;
  margin: 47px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 343px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-3 .u-image-3 {
  width: 343px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-3 .u-image-4 {
  width: 343px;
  height: 223px;
  margin: 32px auto 0 0;
}

.u-section-3 .u-image-5 {
  width: 343px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-3 .u-image-6 {
  width: 343px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-3 .u-image-7 {
  width: 343px;
  height: 222px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-image-8 {
  width: 343px;
  height: 222px;
  margin: -222px auto 0;
}

.u-section-3 .u-image-9 {
  width: 343px;
  height: 222px;
  margin: -222px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 395px;
  }

  .u-section-3 .u-image-1 {
    height: 222px;
  }

  .u-section-3 .u-image-2 {
    height: 222px;
    margin-top: -222px;
  }

  .u-section-3 .u-image-3 {
    height: 222px;
    margin-top: -222px;
  }

  .u-section-3 .u-image-4 {
    height: 222px;
  }

  .u-section-3 .u-image-5 {
    height: 222px;
    margin-top: -222px;
  }

  .u-section-3 .u-image-6 {
    height: 222px;
    margin-top: -222px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 175px;
  }

  .u-section-3 .u-image-1 {
    width: 208px;
    height: 210px;
  }

  .u-section-3 .u-image-2 {
    width: 208px;
    margin-top: -210px;
  }

  .u-section-3 .u-image-3 {
    width: 208px;
    margin-top: -228px;
  }

  .u-section-3 .u-image-4 {
    width: 208px;
    margin-top: 53px;
  }

  .u-section-3 .u-image-5 {
    width: 208px;
  }

  .u-section-3 .u-image-6 {
    width: 208px;
  }

  .u-section-3 .u-image-7 {
    width: 208px;
  }

  .u-section-3 .u-image-8 {
    width: 208px;
  }

  .u-section-3 .u-image-9 {
    width: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 166px;
    height: 145px;
  }

  .u-section-3 .u-image-2 {
    width: 166px;
    height: 145px;
    margin-top: -145px;
    margin-left: 176px;
  }

  .u-section-3 .u-image-3 {
    width: 166px;
    height: 145px;
    margin-top: -145px;
  }

  .u-section-3 .u-image-4 {
    width: 166px;
    height: 145px;
    margin-top: 21px;
  }

  .u-section-3 .u-image-5 {
    width: 155px;
    height: 145px;
    margin-top: -145px;
    margin-left: 187px;
  }

  .u-section-3 .u-image-6 {
    width: 166px;
    height: 145px;
    margin-top: -145px;
  }

  .u-section-3 .u-image-7 {
    width: 166px;
    height: 145px;
    margin-top: 21px;
  }

  .u-section-3 .u-image-8 {
    width: 155px;
    height: 135px;
    margin-top: -145px;
    margin-left: 187px;
  }

  .u-section-3 .u-image-9 {
    width: 166px;
    height: 135px;
    margin-top: -135px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-image-1 {
    width: 91px;
    height: 94px;
    margin-top: 41px;
  }

  .u-section-3 .u-image-2 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
    margin-left: 174px;
  }

  .u-section-3 .u-image-3 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
  }

  .u-section-3 .u-image-4 {
    width: 91px;
    height: 94px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-5 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
    margin-left: 185px;
  }

  .u-section-3 .u-image-6 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
  }

  .u-section-3 .u-image-7 {
    width: 91px;
    height: 94px;
    margin-top: 18px;
  }

  .u-section-3 .u-image-8 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
    margin-left: 185px;
  }

  .u-section-3 .u-image-9 {
    width: 91px;
    height: 94px;
    margin-top: -94px;
  }
}