.contaiiner{
    margin: 20px 40px;
    color: #dc3545;
}
.heading{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.heading{
    font-size: 60px;
    color: #343a40;
    padding-bottom: 60px;
    padding-top: 60px;
}
.heading span{
    font-style: italic;
    font-size: 30px;
}
.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}
.profile{
    flex-basis: 260px;
}
.profile .profile-img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}
.profile:hover .profile-img{
    filter: grayscale(0);
}
.user-name{
    margin-top: 30px;
    font-size: 27px;
    text-align: -webkit-center;
    margin-bottom: 30px;
}
.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
}
.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
